include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include *.py
include *.txt
include Makefile
include tox.ini
include repo2docker_wholetale/mesos.key
exclude .editorconfig
exclude .github/*
exclude .github

recursive-include repo2docker_wholetale *.js
recursive-include repo2docker_wholetale *.sh
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
